<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Visualização</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>


<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Visualização</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/" class="btn btn-info">voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <strong>Autor: </strong>{{db.autor}}<br>
        <strong>Contato: </strong>{{db.contato}}<br>
        <strong>E-mail: </strong>{{db.email}}<br>
        <strong>País: </strong>{{db.pais}}<br>
        <strong>Estado: </strong>{{db.estado}}<br>
        <strong>Cidade: </strong>{{db.cidade}}<br>
        <strong>Instituição: </strong>{{db.instituicao}}<br>
        <strong>Curso: </strong>{{db.curso}}<br>
        <strong>Area: </strong>{{db.area}}<br>
        <strong>Tema: </strong>{{db.tema}}<br>
        <strong>Titulo: </strong>{{db.titulo}}<br>
        <strong>Trabalho: </strong>{{db.trabalho}}<br>
        <strong>Observações: </strong>{{db.observacoes}}<br>
        <strong>Data de Inicio: </strong>{{db.data_inicio}}<br>
        <strong>Data de Entrega: </strong>{{db.data_entrega}}<br>

    </div>
</body>


</html>